* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}

body {
    background-color: #1F3FE7;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    grid-template-rows: 2% 2fr 1fr 2% 1fr 10%;
}

.grid-wrapper header {
    grid-column: 2;
    grid-row: 2 / 3;
    align-self: center;
    justify-self: center;
}

.grid-wrapper header h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 5em;
    line-height: 1em;
    color: white;
    font-weight: bold;


}

.grid-wrapper section {
    grid-column: 2;
    grid-row: 3;
    align-self: start;
    justify-self: center;
}

.grid-wrapper section h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1.3em;
    color: white;
}

.grid-wrapper img {
    grid-column: 3;
    grid-row: 2 / 3;
    align-self: center;
    justify-self: center;
    width: 18em;
}

.inputbox {
    grid-column: 2 / -2;
    grid-row: 5;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    align-self: stretch;
    justify-self: stretch;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    
    animation-name: answeranimation;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    justify-self: center;
}

.inputbox-text input {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 4em;
    color: rgb(12, 11, 11);
    border: 0;
    width: 90%;
    grid-column: 2 / -2;
    grid-row: 5;



}

.inputbox-text input:focus {
    border: 0;
    outline-width: 0;
}


@keyframes answeranimation {
    from {
        justify-self: end;
        width: 100%;
    }
    to {
        justify-self: end;
        width: 14em;
    }
}